/*
Lab 1 - Schedule Web Page
Damien Allison
041
*/
#calendarImg {
    width: 50px;
    height: 50px;
}
#firstcol {
    width:10%
}
.center {
    margin-left: auto;
    margin-right: auto;
}
.course {
    border-style: outset;
}
.ch_201 {
    background-color: darkgreen;
    color: lawngreen;
}
.cs_2711 {
    background-color: darkmagenta;
    color: magenta;
}
.se_2811 {
    background-color: darkred;
    color: red;
}
.se_2840 {
    background-color: darkcyan;
    color: cyan;
}
.free_hour {
    background-color: darkgoldenrod;
    color: yellow;
}

body {
    text-align: center;
    font-family: Rockwell, monospace;
    background-color: darkgrey;
    color: aliceblue;
}
table {
    border-style: groove;
    border-width: 5px;
    background-color: lightgray;
    color: black;
    margin: auto 7.5%;
    width: 85%;
}
th, td{
    border-style: inset;
    border-radius: 5px;
}
th {
    width: 18%;
    background-color: black;
    color: aliceblue;
    font-weight: bold;
    font-style: italic;
}
td:hover {
    border-color: black;
}
a {
    text-decoration: none;
    color: gray;
}
a:visited {
    color: lightslategray;
}


html, a {
    cursor: progress;
}
